@tailwind base;
@tailwind components;
@tailwind utilities;
 
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  
  scroll-behavior: smooth;
  background: #191919;
  background-image: linear-gradient(#191919, #2c2c2c);
  color: white;
  
  
}

@media screen and (max-width: 768px) {
  .small-screen {
      display: block;
  }
  .large-screen {
      display: none;
  }
}

@media screen and (min-width: 769px) {
  .small-screen {
      display: none;
  }
  .large-screen {
      display: block;
  }
}

/* Shake Animation */
@keyframes shake {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

/* Image Size */
.responsive-image {
  width: 100%; /* Make the image fill its container */
  max-width: 70px; /* Set a max-width if you want to limit how large it can grow */
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 599px) {
  .image-container {
      width: 50px; /* Smaller on mobile */
      height: 50px;
      
      /* Adjust height as needed */
  }
}

@media screen and (min-width: 600px) {
  .image-container {
      width: 50px; /* Medium on tablets */
      height: 50px; /* Adjust height as needed */
  }
}

@media screen and (min-width: 1024px) {
  .image-container {
      width: 70px; /* Larger on desktop */
      height: 70px; /* Adjust height as needed */
  }
}

@keyframes hop {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}

.finger {
  animation: hop 1s ease-in-out infinite;
}


 

