@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
  color: white;
  background-color: black; /* Replace with actual color value */
  /*background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #2c2c2c, #191919); */
  background: radial-gradient(circle at 50%, #2c2c2c, #191919);
  
}

.body-background {
  background-image:
    radial-gradient(circle at center, rgba(255, 255, 255, 0.005) 0, rgba(255, 255, 255, 0.005) 1px, transparent 1px),
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 10px 10px; /* sets the size of the grid */
  background-attachment: fixed;
  background-color: #2c2c2c; /* Modify to better match your desired base color */
}

 









@media screen and (max-width: 768px) {
  .small-screen {
      display: block;
  }
  .large-screen {
      display: none;
  }
}

@media screen and (min-width: 769px) {
  .small-screen {
      display: none;
  }
  .large-screen {
      display: block;
  }
}

@media only screen and (max-width: 600px) {
  .hide-on-small-screens {
      display: none;
  }
  .navbar {
    margin-left: 20px;
  }
}

@media screen and (max-width: 599px) {
  .image-container {
      width: 50px; /* Smaller on mobile */
      height: 50px;
      
      /* Adjust height as needed */
  }
}

@media screen and (min-width: 600px) {
  .image-container {
      width: 50px; /* Medium on tablets */
      height: 50px; /* Adjust height as needed */
  }
}

@media screen and (min-width: 1024px) {
  .image-container {
      width: 70px; /* Larger on desktop */
      height: 70px; /* Adjust height as needed */
  }
}


/* Image Size */
.responsive-image {
  width: 100%; /* Make the image fill its container */
  max-width: 70px; /* Set a max-width if you want to limit how large it can grow */
  height: auto; /* Maintain aspect ratio */
}

.ql-container {
  font-size: 16px !important;
}


@import "~@uploadthing/react/styles.css"


 

